body {
  margin: 0;
  background-color: #163c01;
  color: aliceblue;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template: 25vh 25vh 25vh / 25vw 25vw 25vw;
  row-gap: 5vh;
  column-gap: 5vh;
}

.grid > div {
  display: flex;
  border-radius: 15%;
  justify-content: center;
}

.symbol {
  background-color: #2d7802;
}

.description {
  background-color: #276902;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  color: blanchedalmond;
  font-size: x-large;
  line-height: 1.5em;
  text-align: center;
  padding: 2vh 2vw;
  word-spacing: 120%;
}
