body {
  margin: 0;
  background-color: darkolivegreen;
  color: aliceblue;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.grid {
  border: 1px solid red;
  display: grid;
  grid-template: 25vh 25vh 25vh / 25vw 25vw 25vw;
  row-gap: 5vh;
  column-gap: 5vh;
}

.grid > div {
  border: 1px solid red;
  border-radius: 15%;
  background-color: rgba(16, 51, 11, 0.6);
}

p {
  color: blanchedalmond;
  font-size: larger;
  line-height: 1.5em;
  text-align: center;
  padding: 2vh 2vw;
  word-spacing: 120%;
}
